body{
    background-color: pink;
    
}

#lorem1{
    /* hexademical */
    color: #fff000;
}

#lorem2{
    color: rgb(147, 52, 52);
}

#lorem3{
    color: rgba(200, 100, 152, 0.8);
}
/* problem 3 */
p{   
 font-style: italic;
 font-weight: bold; 
 transition: all 2s linear;
}

p:hover{
    background-color: gray;
}
/* problem 4 */
.parent{
    color: yellow;
    border: solid;
}